#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pycentral
DEB_BUILD_PARALLEL = yes

ifneq (,$(findstring $(DEB_HOST_ARCH), i386 amd64))
  BUILD_XEN = --with-xen
else
  BUILD_XEN = --without-xen
endif

ifneq (,$(findstring $(DEB_HOST_ARCH), ia64))
  BUILD_LXC = --without-lxc
else
  BUILD_LXC = --with-lxc
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_CONFIGURE_EXTRA_FLAGS :=     \
	--disable-rpath          \
	--with-qemu              \
	--with-qemu-user=libvirt-qemu  \
	--with-qemu-group=kvm    \
	--with-openvz            \
	--with-avahi             \
	--with-sasl              \
	--with-polkit		 \
	--with-udev		 \
	--without-hal		 \
	--with-storage-fs        \
	--with-storage-lvm       \
	--with-storage-iscsi     \
	--with-storage-disk      \
	--with-init-script=none  \
	--with-apparmor		 \
	--with-vbox		 \
	--without-numactl	 \
	--without-selinux        \
	--without-esx		 \
	--without-libssh2	 \
	--with-capng		 \
	--with-macvtap		 \
	--enable-debug		 \
	$(BUILD_XEN)		 \
	$(BUILD_VBOX)		 \
	$(BUILD_LXC)

DEB_COMPRESS_EXCLUDE = .o event-test hellolibvirt info1 suspend
DEB_PYTHON_SETUP_CMD = /dev/null
DEB_DH_MAKESHLIBS_ARGS_libvirt0 += -V 'libvirt0 (>= 0.5.0)'
DEB_DH_INSTALLINIT_ARGS = --upstart-only
DEB_DH_INSTALLLOGROTATE_ARGS = --name=libvirtd
DEB_MAKE_CHECK_TARGET := check

EXAMPLES_DIR = $(CURDIR)/debian/libvirt-doc/usr/share/doc/libvirt-doc/examples/

binary-install/libvirt-doc::
	find $(EXAMPLES_DIR) -name "*.o" -type f -delete -o -name .libs -type d -exec rm -rf {} \;
	rm -f $(EXAMPLES_DIR)domain-events/events-c/event-test
	rm -f $(EXAMPLES_DIR)dominfo/info1
	rm -f $(EXAMPLES_DIR)domsuspend/suspend
	rm -f $(EXAMPLES_DIR)hellolibvirt/hellolibvirt

build/libvirt-bin::
	mkdir -p debian/tmp/etc/apparmor.d/abstractions debian/tmp/etc/apparmor.d/libvirt
	cp -f debian/apparmor/libvirt-qemu debian/tmp/etc/apparmor.d/abstractions
	cp -f debian/apparmor/usr.lib.libvirt.virt-aa-helper debian/tmp/etc/apparmor.d
	cp -f debian/apparmor/usr.sbin.libvirtd debian/tmp/etc/apparmor.d
	cp -f debian/apparmor/TEMPLATE debian/tmp/etc/apparmor.d/libvirt
	mkdir -p debian/tmp/usr/share/apport/package-hooks
	cp -f debian/libvirt-bin.apport debian/tmp/usr/share/apport/package-hooks/source_libvirt-bin.py
	mkdir -p debian/tmp/usr/sbin
	cp -f debian/libvirt-migrate-qemu-disks debian/tmp/usr/sbin
