Package: libvirt0
Source: libvirt
Version: 0.8.8-1ubuntu6.2~local1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2012
Depends: libapparmor1 (>= 2.6~devel), libc6 (>= 2.8), libcap-ng0, libgcrypt11 (>= 1.4.6), libgnutls26 (>= 2.7.14-0), libnl1 (>= 1.1), libsasl2-2, libxen3, libxml2 (>= 2.7.4)
Suggests: lvm2
Section: libs
Priority: optional
Homepage: http://libvirt.org
Description: library for interfacing with different virtualization systems
 Libvirt is a C toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, XEN, OpenVZ, LXC, and VirtualBox.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
